.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url(../imgs/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: var(--branco);
    border-bottom: 1px solid var(--azul);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
    width: 40%;
}

.container__logo {
    width: 8rem;
}

.container:last-child {
    margin-right: 1rem;
}

.cabecalho__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 60vw;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.container__botao:checked ~ .cabecalho__menu {
    display: block;
}

.cabecalho__titulo,
.cabecalho__item {
    padding: 1em;
    background-color: var(--branco);
}

.cabecalho__titulo {
    font-weight: bold;
    color: var(--azul-claro);
}

.cabecalho__link {
    text-decoration: none;
    color: var(--azul);
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

@media (min-width: 768px) {
    .cabecalho__menu-hamburger,
    .container__botao {
        display: none;
    }

    .container:last-child {
        margin-right: 0;
        position: static;
    }

    .cabecalho__menu {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: max-content;
        box-shadow: none;
    }

    .cabecalho__lista {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .cabecalho__titulo,
    .cabecalho__item {
        padding: 0.75rem 1.5rem;
    }
}

@media (min-width: 1200px) {
    .container__logo {
        width: 10rem;
    }

    .cabecalho__link {
        font-size: 1.1rem;
    }

    .container:last-child {
        margin-right: 0;
    }
}
