@import url(header.css);
@import url(footer.css);
@import url(home.css);
@import url(lancamento.css);
@import url(contato.css);

:root {
    --azul: #1b357e;
    --azul-claro: #1351d8;
    --branco: #ffffff;
    --cinza-claro: #ccc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: var(--branco);
    color: var(--azul);
}

html {
    overflow-y: scroll;
}